# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Server 1
# m h dom mon dow user	command
07 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
15 3	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
37 3	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
42 3	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
17 5,11,17,23 * * * plagger test -x /home/plagger/bin/mixi-logger && /home/plagger/bin/mixi-logger
*/3 * * * * plagger test -x /home/plagger/bin/twitter-logger && /home/plagger/bin/twitter-logger
15 2  * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail1.sh && /home/plagger/bin/plagger_ldr2gmail1.sh
15 8 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail2.sh && /home/plagger/bin/plagger_ldr2gmail2.sh
15 14 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail3.sh && /home/plagger/bin/plagger_ldr2gmail3.sh
15 20 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail4.sh && /home/plagger/bin/plagger_ldr2gmail4.sh
*/10 * * * * plagger test -x /home/plagger/bin/plagger_ldr2hatenabookmark.sh && /home/plagger/bin/plagger_ldr2hatenabookmark.sh
50 * * * * plagger test -x /home/plagger/bin/twitter-logger2 && /home/plagger/bin/twitter-logger2
*/12 * * * * plagger test -x /home/plagger/bin/twitter-logger3 && /home/plagger/bin/twitter-logger3

# Server 2
# m h dom mon dow user	command
01 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
09 3	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
31 3	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
36 3	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
48 2,8,14,20 * * * plagger test -x /home/plagger/bin/mixi-logger && /home/plagger/bin/mixi-logger
*/5 * * * * plagger test -x /home/plagger/bin/twitter-logger && /home/plagger/bin/twitter-logger
45 5 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail1.sh && /home/plagger/bin/plagger_ldr2gmail1.sh
45 11 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail2.sh && /home/plagger/bin/plagger_ldr2gmail2.sh
45 17 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail3.sh && /home/plagger/bin/plagger_ldr2gmail3.sh
45 23 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail4.sh && /home/plagger/bin/plagger_ldr2gmail4.sh
5,15,25,35,45,55 * * * * plagger test -x /home/plagger/bin/plagger_ldr2hatenabookmark.sh && /home/plagger/bin/plagger_ldr2hatenabookmark.sh
*/10 * * * * plagger test -x /home/plagger/bin/plagger_2ch2twitter.sh && /home/plagger/bin/plagger_2ch2twitter.sh
44 4 * * * plagger test -x /home/plagger/bin/plagger_2ch2gmail.sh && /home/plagger/bin/plagger_2ch2gmail.sh
#

