# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
07 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
15 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
37 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
42 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#
53 */2 * * * plagger test -x /home/plagger/bin/mixi-logger && /home/plagger/bin/mixi-logger
*/3 * * * * plagger test -x /home/plagger/bin/twitter-logger && /home/plagger/bin/twitter-logger
15 1,9,17  * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail1.sh && /home/plagger/bin/plagger_ldr2gmail1.sh
15 3,11,19 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail2.sh && /home/plagger/bin/plagger_ldr2gmail2.sh
15 5,13,21 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail3.sh && /home/plagger/bin/plagger_ldr2gmail3.sh
15 7,15,23 * * * plagger test -x /home/plagger/bin/plagger_ldr2gmail4.sh && /home/plagger/bin/plagger_ldr2gmail4.sh
*/5 * * * * plagger test -x /home/plagger/bin/plagger_ldr2hatenabookmark.sh && /home/plagger/bin/plagger_ldr2hatenabookmark.sh
#

